header {
    // display: flex;
    // box-shadow: 0 1px 2px #00000029, 0 2px 4px #0000001f, 0 1px 8px #0000001a;
    // background-color: rgb(255, 255, 255);
    margin-bottom: 80px;
    img {
        width: 120px;
    }
    .profile-cart-btns {
        display: flex;
        align-items: center;
        gap: 10px;
        .cart-icon {
            vertical-align: bottom;
        }
    }
}
// .links {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     height: 70px;
//     padding: 20px;
//     margin-bottom: 10px;
//     img{
//         width: 120px;
//     }
// }
// .links * {
//     display: inline-block;
//     margin-inline-end: 30px;
//     vertical-align: middle;
//     text-decoration: none;
//     color: $clr2;
//     transition: all 0.4s;

//     &:hover {
//         color: rgba(23, 202, 178, 0.753);
//         transform: scale(1.08);
//     }
//     &:last-child {
//         transform: scale(1);
//     }
// }

// .active {
//     color: rgba(19, 50, 136, 0.753);
// }
