.sizeButton {
    cursor: pointer;
    background-color: rgb(54, 137, 247);
}
.order-page {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    // height: 80vh;
}
.cart {
    margin-right: 20px;
    margin-top: 15px;
    width: 30vw;
    background-color: rgb(196, 213, 250);
    border-radius: 10px;
    .vase-cart-card {
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid black;
        button {
            width: 30px;
            height: 30px;
        }
    }
    .cart-vase {
        width: 120px;
        object-fit: stretch;
        border-radius: 10px;
    }
    .cart-filament {
        width: 100px;
        border-radius: 10px;
    }
}
.vase-choose-popup {
    display: flex;
    .inputs-submit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    img {
        max-width: 60%;
        height: fit-content;
    }
}
.products {
    flex-basis: 2;
    align-self: center;
}
.colors {
    display: flex;
    gap: 5px;
    margin: 10px 0px;
    .modal-filament-img {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .selectedColor {
        border: 3px solid rgb(42, 187, 245);
    }
}
.addtocart {
    color: violet;
}
.place-order-btn {
    width: 100px;
    height: 50px;
}
@media only screen and (max-width: 750px) {
    .vase-choose-popup {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
            width: 300px;
        }
    }
}
