// Setup
@import 'setup/variables.scss';
@import 'setup/functions.scss';
@import 'setup/typography.scss';

// Basics
@import 'basics/base.scss';

// Components
// @import './views/loginSignup';
@import './views/vaseManagement';
@import './views/filamentManagement';
@import './views/orderManagement';
@import './views/orderPage';
@import './views/header';
@import './views/footer';
@import './views/cartPage';
@import './views/orderInspect';
@import './views/userManagement';

body {
    background-color: rgb(245, 245, 245);
}
.mapcon {
    width: 100px;
    display: flex;
}
.inventory-nav {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}
.loader {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
